@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-5">Okullar</h1>
@model List<Okul>

<table class="table table-bordered table-striped text-center mt-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Öğrenci Sayısı</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var okul in Model)
        {
            <tr>
                <td>@okul.Id</td>
                <td>@okul.Ad</td>
                <td>@okul.Öğrenciler?.Count()</td>
                <td>
                    <a asp-controller="Okul" asp-action="Okul_Güncelle" asp-route-id="@okul.Id" class="btn btn-warning">Düzenle</a>
                </td>
                <td>
                    <a asp-controller="Okul" asp-action="Okul_Sil" asp-route-id="@okul.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>